<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.jurihock.voicesmith"
    android:versionCode="11"
    android:versionName="2.5" >

    <uses-sdk android:minSdkVersion="8" />

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />

    <!-- TEST: Enable writing files (e.g. to record signal) on the memory card
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    -->

    <application
        android:name=".Application"
        android:icon="@drawable/launcher"
        android:label="@string/ApplicationName"
        android:theme="@style/Theme.GreenDroid.NoTitleBar" >
        <service
            android:name=".services.DafxService"
            android:label="@string/DafxService" >
        </service>
        <service
            android:name=".services.AafService"
            android:label="@string/AafService" >
        </service>
        <activity
            android:name=".activities.HomeActivity"
            android:label="@string/HomeActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.DafxActivity"
            android:label="@string/DafxActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activities.AafActivity"
            android:label="@string/AafActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activities.PreferenceActivity"
            android:label="@string/PreferenceActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
                android:name=".activities.SupportActivity"
                android:label="@string/SupportActivity"
                android:screenOrientation="portrait" >
        </activity>
        <activity
                android:name=".activities.ContributionActivity"
                android:label="@string/ContributionActivity"
                android:screenOrientation="portrait" >
        </activity>
		<activity
            android:name=".activities.AboutActivity"
            android:label="@string/AboutActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activities.AboutApplicationActivity"
            android:label="@string/AboutApplicationActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activities.AboutLicenseActivity"
            android:label="@string/AboutLicenseActivity"
            android:screenOrientation="portrait" >
        </activity>
    </application>

</manifest>
